# Sublime component
*.sublime-project
*.sublime-workspace

# Node modules
*node_modules

# Data volume
data/

# RSA Keys for JWT
back/keys

# Python tests environment
tests/tyaco-tests-env
__pycache__
