.blackBG {
	background-color : #262626;
}

.darkBG {
	background-color : #658C11;
}

.classicBG {
	background-color: #A3BF3B;
}

.lightBG {
	background-color: #B9D948;
}

.paleBG {
	background-color: #C5D97E;
}

.darkPEN {
	color : #262626;
}

.whitePEN {
	color : #FFFFFF;
}
